body { background-image:url("https://img.ifcdn.com/images/2c497dbfbf2a4eb7e30371bd3336ebc6fccd823efb05e8cc2d50f06db45efd0a_1.jpg"); }

.extreme { color:#00fb02; }

#head1 { font-size:4em; }

.navzone { color:yellow; }

#tehlulz {  }

.content {  }

.prose {  }

a:hover { color:hotpink; }

a:visited { color:red; }